<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TGL Apostas</title>

</head>
<body>
    <h1>TGL Apostas</h1>   
    
    @include(view)

    <footer>  
    Some copyright info or perhaps some author
    </footer>
</body>
</html>